<div class="main-display" style="opacity: 0;transition:1s ease;transition-delay: .5s;">
    <nav class="navbar">
        <span class="nvitem"><a href="/" class="nvbtn"><img src="{[barndir]}assets/write-icon.png"></img><span class="nvspan">Articles</span></a>
        </span>
        <span class="nvitem"><a href="/aboutme.html" class="nvbtn"><img src="{[barndir]}assets/bottle-icon.png"></img><span class="nvspan">Aboutme</span></a>
        </span>
        <span class="nvitem"><a href="/archives.html" class="nvbtn"><img src="{[barndir]}assets/archives-icon.png"></img><span class="nvspan">Archives</span></a>
        </span>
        <span class="nvitem"><a href="/links.html" class="nvbtn"><img src="{[barndir]}assets/links-icon.png"></img><span class="nvspan">Links</span></a>
        </span>
        <span class="nvitem"><a href="/intro.html" class="nvbtn"><img src="{[barndir]}assets/star-icon.png"></img><span class="nvspan">More</span></a>
        </span>
    </nav>
    {[contents]}
    <a href="javascript:void(0);" onclick="B.scrolltop(200,50);" class="backtop"><img src="{[barndir]}top.png"></img>
    </a>
    <script src="{[barndir]}addition.js">
</div>